Screen {
    layout: grid;
    grid-size: 3;
    grid-columns: 2fr 1fr 1fr;
    background: $background;
}

.box {
    height: 100%;
    border: solid green;
}

Static:focus-within {
    background: $primary-background-darken-1;
}

Static:blur {
    background: $background;
}
